@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img{
    height: 10vh;
    width: auto;
}

header button{
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 10vw;
    color: white;
    background-color: #bd4b4b;
    border: 2px solid #a94545;
    border-bottom: 5px solid #a94545;
    cursor: pointer;
}

.mainContent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainText{
    align-self: center;
    justify-self: center;
    text-align: center;;
}

.mainText h1{
    margin: 2rem;
    font-size: 2rem;
    width: 30rem;
    text-align: center;
}

.mainButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainButtons button{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 20vw;
    cursor: pointer;

}

.mainButtons button:first-child{
    color: white;
    background-color: #bd4b4b;
    border: 2px solid #a94545;
    border-bottom: 5px solid #a94545;
}

.mainButtons button:first-child:hover{
    background-color: #cf5454;
}

.mainButtons button:nth-child(2){
    background-color: white;
}

.mainButtons button:nth-child(2):hover{
    background-color: rgb(240, 240, 240);
}

.institutions {
    display: flex;
    flex-direction: row;
    height: 80px;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    padding: 1rem;
}

.institution {
    width: 33%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.institution * {
   height: 100%;
}

.informationContent h2{
    margin-top: 1rem;
    text-align: center;
}

.informationContent p{
    text-align: center;
}

.informationContent li{
    list-style-type: disc;
    
}

.slide1, .slide2, .slide3, .slide4{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}


footer{
    border-top: 1px solid var(--border);
    align-items: center;
    justify-content: center;
    
}

.title{
    color: #a94545;
}

.footerImage{
    text-align: center;
}

footer img{
    max-width: 100px;
    height: auto;
    margin: 1rem;
}

.footerContent{
    display: flex;
    justify-content: space-around;
}

.aboutUs, .contact, .terms, .aboutUs ul, .contact ul, .terms ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs a, .terms a, .contact a {
    font-size: 0.8rem;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    margin: 1rem 0;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.copy {
    font-size: 0.8rem;
}
