@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
    /*border: 1px solid black;*/
}

body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightcyan;
    border-bottom: 2px solid lightblue;
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav img{
    height: 80%;
    width: auto;
}

nav button{
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 5vw;
    color: white;
    background-color: #bd4b4b;
    border: 2px solid #a94545;
    border-bottom: 5px solid #a94545;
    cursor: pointer;
    margin: 0 10px;
}

.profile {
    height: calc(2.2rem + 7px);
    width: calc(2.2rem + 7px);
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #a94545;
    border-bottom: 5px solid #a94545;
}

.profile:hover {
    opacity: 80%;
    cursor: pointer;
}

.mainContent{
    margin-top: 10vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainText{
    align-self: center;
    justify-self: center;
    text-align: center;;
}

.mainText h1{
    margin: 2rem;
    font-size: 2rem;
    width: 30rem;
    text-align: center;
}

.mainButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainButtons button{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 20vw;
    cursor: pointer;

}

.mainButtons button:first-child{
    color: white;
    background-color: #bd4b4b;
    border: 2px solid #a94545;
    border-bottom: 5px solid #a94545;
}

.mainButtons button:first-child:hover, nav button:hover{
    background-color: #cf5454;
}

.mainButtons button:nth-child(2){
    background-color: white;
}

.mainButtons button:nth-child(2):hover{
    background-color: rgb(219, 181, 181);
}

.institutions {
    display: flex;
    flex-direction: row;
    height: 80px;
    border-bottom: 3px solid lightblue;
    border-top: 3px solid lightblue;
    background-color: lightcyan;
    padding: 1rem;
}

.institution {
    width: 33%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.institution * {
   height: 100%;
}

.informationContent {
    margin: 0 auto;
    width: 70%;
}

.informationContent div {
    width: 100%;
    margin: 0 10px;
}

.informationContent h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 40px;
}

.informationContent li{
    list-style-type: disc;
    
}

.slide1, .slide2, .slide3, .slide4{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informationContent div img {
    width: 70%;
    border-radius: 10px;
    margin: 0 10px;
    border: 2px solid #a94545;
    border-bottom: 5px solid #a94545;
}


footer{
    border-top: 1px solid var(--border);
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #a94545;
}

.title{
    color: #a94545;
}

.footerImage{
    text-align: center;
}

footer img{
    max-width: 100px;
    height: auto;
    margin: 1rem;
}

.footerContent{
    display: flex;
    justify-content: space-around;
}

.aboutUs, .contact, .terms, .aboutUs ul, .contact ul, .terms ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs a, .terms a, .contact a {
    font-size: 0.8rem;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    margin: 1rem 0;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.copy {
    font-size: 0.8rem;
}
